/build
/build-*
/out
/_deps
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
.cache/
.cmake/

# Editors
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Generated headers
include/merlion_node_exporter/version.hpp
